TENANCY_OCID="ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
COMPARTMENT_OCID="ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
USER_OCID="ocid1.user.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FINGERPRINT="xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
PRIVATE_KEY_PATH="~/.oci/<EMAIL>_<DATE>.pem"
REGION="eu-zurich-1"
INSTANCE_DISPLAY_NAME="vpn"
INSTANCE_SHAPE="VM.Standard.A1.Flex"
INSTANCE_CPU=1
INSTANCE_MEMORY=2
INSTANCE_SSH_PUBLIC_KEY="/home/<user>/.ssh/id_rsa.pub"
# See https://docs.us-phoenix-1.oraclecloud.com/images/
# Make sure you've picked the right one for your region.
# Oracle-provided image "Canonical-Ubuntu-20.04-aarch64-2022.03.02-0"
INSTANCE_IMAGE_OCID="ocid1.image.oc1.eu-zurich-1.aaaaaaaaxan24b2ppwddinexad74nmfysvn3dwpalkgixmqdf52oneqt3dta"
