TENANCY_OCID="ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
COMPARTMENT_OCID="ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
USER_OCID="ocid1.user.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
FINGERPRINT="xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
PRIVATE_KEY_NAME="oracleidentitycloudservice_<USER>-<DATE>.pem"
REGION="eu-zurich-1"
INSTANCE_DISPLAY_NAME="vpn"
INSTANCE_SHAPE="VM.Standard.A1.Flex"
INSTANCE_CPU=1
INSTANCE_MEMORY=1
INSTANCE_SSH_PUBLIC_KEY="/home/<user>/.ssh/id_rsa.pub"
# See https://docs.us-phoenix-1.oraclecloud.com/images/
# Make sure you've picked the right one for your region.
# Oracle-provided image "Canonical-Ubuntu-20.04-aarch64-2021.10.15-0"
INSTANCE_IMAGE_OCID="ocid1.image.oc1.eu-zurich-1.aaaaaaaa5zxt76vbu57ijq3umduzqxt3tdsk32yot5uez4rk5amid3riajva"

OPENVPN_CLIENTS='["linux", "mac"]'
OPENVPN_ANSIBLE_SSH_USER=ubuntu
OPENVPN_EASY_RSA_VERSION=3.0.8
OPENVPN_EASY_RSA_COUNTRY=<COUNTRY>
OPENVPN_EASY_RSA_PROVINCE=<PROVINCE>
OPENVPN_EASY_RSA_CITY=<CITY>
OPENVPN_EASY_RSA_ORG=<ORG>
OPENVPN_EASY_RSA_EMAIL=<EMAIL>
OPENVPN_EASY_RSA_OU=<OU>
OPENVPN_EASY_RSA_KEY_SIZE=2048
OPENVPN_EASY_RSA_CA_EXPIRE=3650
OPENVPN_EASY_RSA_CERT_EXPIRE=3650
OPENVPN_NETWORK=192.168.255.0
OPENVPN_SUBNETMASK=255.255.255.0
OPENVPN_ROUTE_NETWORK=192.168.254.0
OPENVPN_ROUTE_SUBNETMASK=255.255.255.0
OPENVPN_DNS_1=8.8.8.8
OPENVPN_DNS_2=8.8.4.4
