[vpn]
<IP>

[all:vars]
server_ip=<IP>
clients='["linux", "mac"]'
ansible_ssh_user=ubuntu
easy_rsa_version=3.0.8
easy_rsa_country=<COUNTRY>
easy_rsa_province=<PROVINCE>
easy_rsa_city=<CITY>
easy_rsa_org=<ORG>
easy_rsa_email=<EMAIL>
easy_rsa_ou=<OU>
easy_rsa_key_size=2048
easy_rsa_ca_expire=3650
easy_rsa_cert_expire=3650
openvpn_network=192.168.255.0
openvpn_subnetmask=255.255.255.0
openvpn_route_network=192.168.254.0
openvpn_route_subnetmask=255.255.255.0
openvpn_dns_1=8.8.8.8
openvpn_dns_2=8.8.4.4
