OPENVPN_CLIENTS='["linux", "mac"]'
OPENVPN_ANSIBLE_SSH_USER=ubuntu
OPENVPN_EASY_RSA_VERSION=3.0.8
OPENVPN_EASY_RSA_COUNTRY=COUNTRY
OPENVPN_EASY_RSA_PROVINCE=PROVINCE
OPENVPN_EASY_RSA_CITY=CITY
OPENVPN_EASY_RSA_ORG=ORG
OPENVPN_EASY_RSA_EMAIL=EMAIL
OPENVPN_EASY_RSA_OU=OU
OPENVPN_EASY_RSA_KEY_SIZE=2048
OPENVPN_EASY_RSA_CA_EXPIRE=3650
OPENVPN_EASY_RSA_CERT_EXPIRE=3650
OPENVPN_NETWORK=192.168.255.0
OPENVPN_SUBNETMASK=255.255.255.0
OPENVPN_ROUTE_NETWORK=192.168.254.0
OPENVPN_ROUTE_SUBNETMASK=255.255.255.0
OPENVPN_DNS_1=8.8.8.8
OPENVPN_DNS_2=8.8.4.4
