tenancy_ocid            = "ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
compartment_ocid        = "ocid1.tenancy.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
user_ocid               = "ocid1.user.oc1..xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
fingerprint             = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
private_key_path        = "./config/ssh/oracleidentitycloudservice_<user>-<date>.pem"
instance_ssh_public_key = "/home/<user>/.ssh/id_rsa.pub"
region                  = "eu-zurich-1"
instance_display_name   = "vpn"
instance_shape          = "VM.Standard.A1.Flex"
instance_cpu            = 1
instance_memory         = 1
# See https://docs.us-phoenix-1.oraclecloud.com/images/
# Make sure you've picked the right one for your region.
# Oracle-provided image "Canonical-Ubuntu-20.04-aarch64-2021.10.15-0"
instance_image_ocid = "ocid1.image.oc1.eu-zurich-1.aaaaaaaa5zxt76vbu57ijq3umduzqxt3tdsk32yot5uez4rk5amid3riajva"
